@model IEnumerable<WebCRUDTESTE.Models.Vendas>

@{
    ViewData["Title"] = "Index";
}

<script type="text/javascript">
    $(document).ready(function () {
    $('#Vendastb').DataTable();
});
</script>

<h1>Vendas</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Criar Novo</a>
</p>
<table class="table table-striped table-bordered dt-responsive nowrap " id="Vendastb">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClienteId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProdutoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.qtdVenda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VlrUnitarioVenda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vlrTotalVenda)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClienteId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProdutoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.qtdVenda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VlrUnitarioVenda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vlrTotalVenda)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VendaId"class="btn btn-primary">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.VendaId"class="btn btn-info">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.VendaId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
