@model IEnumerable<WebCRUDTESTE.Models.produto>

@{
    ViewData["Title"] = "Index";
}

<script type="text/javascript">
    $(document).ready(function () {
    $('#produtotb').DataTable();
});
</script>

<h1>Produtos</h1>

<p>
    <a asp-action="Create"class="btn btn-primary">Criar Novo</a>
</p>
<table class="table table-striped table-bordered dt-responsive nowrap" id="produtotb">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DscProduto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VlrUnitario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DscProduto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VlrUnitario)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProdutoId"  class="btn btn-primary" >Edit</a> 
                <a asp-action="Details" asp-route-id="@item.ProdutoId" class="btn btn-info">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.ProdutoId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
